.departments-page{
    width: 700px;
    height: 600px;
    // margin-left: 80px;

    border-radius: 30px;
    
    
}

.departments-small-box{
    display: flex;
    flex-direction: row;
    margin-left: 100px;   
}

.departments-small-box1{
    width: 80vw;

    margin-top: 100px;
}

.button{
    margin-top: 35px;
    margin-left: 50px;
    background-color: aquamarine;
    width: 70px;
    height: 30px;
}
.depart{
    

}
.depart table {
    
    
}

table ,th ,td{
    border: 2px solid black;
    border-collapse: collapse;
    
}